@model SDQWeb.Models.TeacherDepertment

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Select The Depertment You Are Working </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.DepertmentId, "Depertment Name", htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-10">
            @Html.DropDownList("DepertmentId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepertmentId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @{
            int teacherid = Convert.ToInt16(Session["TeacherId"]);
        }
        <input type="hidden" name="TeacherId" value="@teacherid" />
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Register To The Depertment" class="btn btn-success" />
        </div>
    </div>
    <div>
        <p>Dont Have Your Depertment? Create Your Depertments</p>@Html.ActionLink("Create New Depetment", "Create", new { Controller = "Depertments", Action = "Create" })
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
