@model SDQWeb.Models.Student

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Create Your Student Profile</h4>
    <hr />
    @{ int id = Convert.ToInt16(Session["id"]);
        string date = DateTime.Now.ToShortDateString();
    }
    <input type="hidden" name="UserId" value="@id" />
    <input type="hidden" name="Started" value="@date" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
