@model SDQWeb.Models.User

@{
    ViewBag.Title = "ViewAdd";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>ViewAdd</h2>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <main role="main" class="inner cover">
                <div class="jumbotron box-shadow ">
                    @using (Html.BeginForm())
                    {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Your Profile Will Updated</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    @{int addid = Convert.ToInt16(Session["AddId"]);
                    }
                    <div class="form-group">
                        <input type="hidden" readonly name="AddressID" value="@addid" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update Profile" class="btn btn-default" />
                        </div>
                    </div>
             
}

                    <div>
                        Your Institute, Teacher And Friends Will Contact You Through This Informations
                    </div>

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
                </div>
</main>
            </div>
        </div>
    </div>
